html, body{
	height: 100%;
}
.nav{
	height:35px;
	background: #333;
	margin:0;
}
.top-banner{
	height: 400px;
	width: 100%;
	overflow: hidden;
	background: url('../ImageSliderImages/banner-img1.jpg') no-repeat 50% 50%;
	background-size: cover;
	position: relative;
}
.top-banner:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left:0px;
	top:0px;
	background: rgba(0,0,0,0.5);
	z-index: 0;
}
.top-banner--text{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
}
.top-banner--text p, .top-banner--text h3{
	color:#fff;
}
.service-steps{
		background:#4aa2a2;
	height: auto;
	padding: 50px 0;
	box-sizing: border-box;
}
.service-steps h4, .service-steps p{
	color: #fff;
	font-size: 24px;
	text-align: center;
}
.servicebox{
position: relative;
}
.servicebox:after{
	content: '';
	background: #68b8b8;
	width: 1px;
	height: 100%;
	position: absolute;
	right: 1px;
	top:1px;
}
.servicebox.last{
	background: none;
}
.evbodymain-bottom{
    height: 100vh;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid red;
    background-color: rgb(231, 247, 247)

  }
  .level h2{
	  margin:0;
	  text-align:center;
	  padding-top:20px;
	  padding-bottom:20px;
	  margin-top:20px;
	  margin-bottom:20px;
	/*   background:red; */
	  
  }
  .level-control{
	margin-bottom:50px;
}
  .level-control .levelbox{
	 
	  background:teal;
		padding:20px 10px 20px 10px;
		border:1px solid black;
		min-height:300px;
	  
	  
	}

	/* profile */
	.profile-page{
		background: #ececec;
	}
	.profile-main-wrapper{
		position: relative;
		padding: 80px 0 80px 0;
	}
	.profile-banner{
		height: 300px;
		overflow: hidden;
		width: 100%;
		position: absolute;
		left:0px;
		top: 0px;
	}
.rela-block {
    z-index: 1;
    width: 92%;
    max-width: 1126px;
    background-color: #f4f4f4;
    margin: 70px auto;
    padding: 70px 0;
    display: block;
    position: relative;
}

.profile-holder{
	background: #fff;
	max-width:800px;
	width:100%;
	margin: 0px auto;
	border:1px solid #ececec;
	text-align: center;
	padding: 50px 0;
	border-radius: 80px;
	box-shadow: 0 0 20px #ccc;
	position: relative;
	z-index: 10;

}
.profile-img-holder{
width:200px;
height: 200px;
border-radius: 50%;
overflow: hidden;
display: inline-block;
}
.profile-cnt{
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
}
.profile-cnt ul{
	list-style: none;
	padding: 0px;
	margin:0px;
}
.profile-cnt ul li{
	text-align: left;
	border-bottom: 1px solid #ececec;
	padding: 15px 0;
}
.profile-cnt ul li:last-child{
	border:0px;
	text-align: center;
}
.book-btn{
	border: 1px solid #214cec;
    background: #214cec;
    width: 40%;
    display: block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 17px;
    border-radius: 50px;
    height: 54px;
    line-height: 54px;
    text-transform: uppercase;
}

/* profile owner css */
@font-face {
	font-family: 'icomoon';
	src : url('../ServicePageCss/icomoon.eot?6186j0');
  src:  url('../ServicePageCss/icomoon.eot?6l86j0#iefix') format('embedded-opentype'),
    url('../ServicePageCss/icomoon.ttf?6l86j0') format('truetype'),
    url('../ServicePageCss/icomoon.woff?6l86j0') format('woff'),
    url('../ServicePageCss/icomoon.svg?6l86j0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
  content: "\e958";
}

.blue-btn{
    border: 1px solid #214cec;
    background: #214cec;
    width:auto;
    padding: 0px 20px;
    display: inline-block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 17px;
    border-radius: 2px;
}
.blue-btn:hover{
	background: #2b3e88;
	color: #fff;
}
.blue-btn--rounded{
    border-radius: 50px;
    height: 54px;
    line-height: 54px;
    text-transform: uppercase;
}


.ower-profiler-page{
	background: #ececec;
}
.ower-profiler-holder{
 padding: 40px 0;
}
.ower-profile-section{
	background: #fff;
	padding:40px 0;
}
.ower-profile--left{
 text-align: center;
}
.ower-profile--info{
	padding: 20px 0;
}
.ower-profile--info h3{
	font-size: 16px;
	color: #999;
	margin: 0px;
	padding: 0px; 
}
.ower-profile--info a.email,.ower-profile--info span.phone{
	font-size: 12px;
	text-decoration: none;
	color: #999;
	display: block;
}
.ower-profile--right{
		padding:0 0 0 40px;
	border-left: 1px solid #ededed;
}
.basicInfo-item{
	width: 90%;
	border-bottom:1px solid #ededed;
	margin: 0 0 30px 0;
	padding:0 0 15px 0;
}
.basicInfo-item:last-child{
	border:0px;
	margin-bottom: 0px
}
.basicInfo-item h4{
font-size: 18px;
color: #666;
margin: 0 0 20px 0;
padding: 0px;
}
.basicInfo-item ul{
	list-style: none;
	padding: 0px;
	margin:0px;
}
.basicInfo-item ul li{
    list-style: none;
	padding: 1px 0px;
	margin:0px;
	display: inline-block;
	width: 100%;
}
.basicInfo-item ul li p{
	font-size: 13px;
}
.basicInfo-item ul li span{
	float: left;
	font-size: 13px;
	color: #333;
	display: block;
}
.basicInfo-item ul li span.bi-label{
	font-weight: bold;
	width:25%;
}
.basicInfo-item ul li span.bi-value{
	width:75%;
}
.ower-profile--right .blue-btn{
	font-size: 12px;
}

img{
	height: 200px;
	width: 200px;
	object-fit: cover;
	object-position: center; 
}



	
	

 
	
	

